.App {
  text-align: center;
}

.App-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: 1rem auto;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  max-width: 600px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: url('./bg_image.png');
  background-size: cover;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3rem;
}

.App-intro {
  font-size: large;
}

.App-form .App-intro {
  color: #fff;
}

.App-main {
  max-width: 400px;
  margin: 0 auto;
}

.App-form {
  background: #4285f4;
  text-align: left;
  padding: 2rem;
}

.App-list {
  text-align: left;
  padding: 2rem;
  padding-top: 1rem;
}

.App-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App-list-item {
  position: relative;
  transition: all 0.35s ease-in-out;
  padding: 2rem 1rem;
}

.App-routes-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.App-routes-icon {
  margin-right: 2rem;
}

.App-delete {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.App-list-item:hover .App-delete {
  opacity: 1;
}

.App-list-item:hover {
  background: #f5f5f5;
}

.App-go {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.35s ease-in-out;
  border-radius: 10px;
}

.App-go:hover,
.App-go:focus {
  color: #333;
  /*border: 2px solid #333;*/
  background: #fff;
}

.App-go svg {
  transition: all 0.35s ease-in-out;
}

.App-go:hover svg,
.App-go:focus svg {
  fill: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
