.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: url('./bg_image.png');
  background-size: cover;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3rem;
}

.App-intro {
  font-size: large;
  color: #fff;
}

.App-main {
  max-width: 400px;
  margin: 0 auto;
}

.App-form {
  background: #4285f4;
  text-align: left;
  padding: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
